  <div class="event-box">
    <div class="event-window" style="background-color: <%= event.category.color %>"><%= event.category.name if event.category %>
    <div class="players"> <%= date_in_words(event.start_time) %> | <%= event.participants.count%>/<%= event.players %></div>
    </div>
    <div class="event-title"><%= event.title %></div>
    <div class="event-description"><%= event.description %></div>
    <div class="bottom-window">
    <div class="bottom-container">
    <%=link_to event.user.username.capitalize, profile_id_path(event.user.id) %>
    <div class="view-button">
    <a href="<%= event_path(event.id) %>" class="btn">View</a>
    </div>
    </div>
    </div>
  </div>
