<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= link_to @event.user.username , profile_id_path(@event.user.id) %>
</p>

<p>
  <strong>Console:</strong>
  <%= @event.console %>
</p>

<p>
  <strong>Players:</strong>
  <%= @event.players %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category.name if @event.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @event.image %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<br>
<%= link_to "Join" , participate_path(@event.id) if participate(@event)%> <br>
Participators: <br>

<% if @event.participants.first %>
<% @event.participants.each do |participant| %>
<%= (participant.id -= participant.id) + 1 %>: <%= participant.user.username %><br>
<% end %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>