
    <% @categories.each do |category| %>
    <a href="<%= category_path(category.id) %>">
    <div id="category_container", style="background-image: url(<%=category.img_path%>);>
        <%= image_tag(category.img_path, size: "300x400") %><br>
        <%= category.name %>
        </div></a>
    <% end %>

<%= link_to 'New Category', new_category_path %>

