<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :bad_behavior %><br>
    <%= f.check_box :bad_behavior %>
  </div>
  <div class="field">
    <%= f.label :bad_host %><br>
    <%= f.check_box :bad_host %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
