
    <div class="main-logo">
        <img src="/xbox-controller.png" width="35" height="35"></img>
    </div>     
<ul class="nav">
    <li>
        <li><%= link_to "Home" , home_index_path %></li>
        <li><%= link_to "Categories" , categories_path %></li>
        <li><%= link_to "Events" , events_path %></li>
    </li>


    <div id="control">
     <% if user_signed_in? %> 
    <li id="options">
        <a href="#">Me</a>
        <ul class="subnav">
         <li><%= link_to current_user.username.capitalize, profile_path %></li>
         <li><%= link_to "Settings", profile_settings_path %></li>
         <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
    </li>
    <% else %>
     <li id="options">
    <li><%= link_to('Login', new_user_session_path , id: 'login_button') %></li>
    </li>
    <% end %>
    </div>
</ul>