<!DOCTYPE html>
<html>
<head>
  <title>Gta5</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header'%>
<div class="notify"><%=noty_personal_info_notify(current_user) %></div>

<% if current_page?(categories_path) || current_page?(category_path(params[:id])) %>
<div class="magic-border"></div>

<% end %>
<div class="content">
<%= yield %>
</div>

</body>
</html>
